
.shop-form__shop-category-container {
    margin-top: 27px;
}

.shop-form__product-category-container {
    margin-top: 27px;
    margin-bottom: 27px;
}

.shop-form__product-category-checkbox , .shop-form__shop-category-checkbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.label-font {
    font-weight: unset;
}